*{
	padding: 0;
	margin: 0;
}

.top-bar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	z-index: 5;
	background-color: white;
}

.user-tools{
	position: relative;
	float: right;
	display: block;
	right: 5px;
	padding-top: 8px;
	z-index: 2;
	white-space: nowrap;
}

.subscribe-link{
	display: inline-block;
	margin-right: 10px;
	font-weight: 700;
	color: #666;
	font-size: 0.68rem
}

.button{
	font-weight: 700;
	margin-right: 6px;
	height: 30px;
	font-size: .69rem;
	line-height: .81rem;
	font-family: "nyt-franklin", arial, helvitica, sans-serif;
	border-radius: 3px;
	transition: background-color 0.3s;
	display: inline-block;
	padding: 7px 9px;
	border: 1px solid #e2e2e2;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	text-transform: uppercase;
	vertical-align: center;
	box-sizing: border-box;
}

button:hover{
	background-color: #fafafa;
}

.header-buttons{
	position: relative;
	float: left;
	display: block;
	left: 15px;
	padding-top: 8px;
	z-index: 2;
}

.nav-menu{
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06)
	border-bottom-color: #cecece;
}

.home{
	border: none;
}

.search{
	border: none;
}

.log-in{
	background-color: #6288a5;
	border-color: #4d7b9f;
	color: #fff;
	font-weight: 700;
	height: 30px;
}

#login:hover{
	background-color: #4A6A82;
}

.options{
	border: none;
}

.top-bar a:link{
	text-decoration: none;
}

.top-bar a:hover{
	text-decoration: underline;
}

#NYT_title{
	position: absolute;
	display: inline-block;
	margin-top: 10px;
	left: 40%;
	margin-left: 50px;
}

.ribbon{
	position: relative;
	width: 100%;
	top: 50px;
	height: 85px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	margin-bottom: -14px;
	overflow: hidden;
	z-index: 2;
	display: block;
	margin-left: 20px;
}

.ribbon-menu{
	box-shadow: 0 4px 4px rgba(0,0,0,0.6);
	border-bottom: 1px solid #ccc;
	display: block;
	list-style-type: decimal;
	min-width: 100%;
	background-color: #fff;
	position: absolute;
	margin-bottom: 0;
	padding: 0;
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 400;
	font-family: georgia, "times new roman", times, serif;
	overflow: hidden;
	height: 82px;
}

.featured-story{
	float: left;
	width: 240px;
	min-height: 75px;
	margin: 3px 0 5px;
	padding: 0 4px 0 3px;
	border-left: 1px solid #fff;
	border-right: 1px solid #e2e2e2;
	list-style-type: none;
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 400;
	font-family: georgia, "times new roman", times, serif;
	display: list-item;
	white-space: nowrap;
}

.story-container{
	position: relative;
	padding: 5px;
	min-height: 65px;
	display: block;
}

.thumbnail{
	position: relative;
	margin-left: 0;
	width: 65px;
	height: 65px;
	float: left;
	margin: 0 10px 0 0;
	display: block;
}

.kicker{
	font-size: 0.5rem;
	line-height: 0.75rem;
	font-weight: 500;
	font-family: "nyt-franklin", arial, helvitica, sans-serif
	text-transform: uppercase;
	letter-spacing: 0.075rem;
	color: #000;
}

.story-heading{
	font-size: 0.8rem;
	line-height: 1rem;
	font-weight: 300;
	font-family: "nyt-cheltenham-sh", georgia, "time new roman", times, serif;
	color: #333;
}

.featured-story a:link{
	text-decoration: none;
}

.featured-story a:hover{
	text-decoration: underline;
}

.page{
	position: relative;
	width: 75%;
	top: 80px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}

.text{
	position: relative;
	top: -4px;
	font-weight: 700;
	vertical-align: middle;
	font-size: 0.69rem
	padding: 2px 6px 3px;
}

.main{
	width: 720px;
	margin: 0 auto;
	font-family: "nyt-cheltenham-sh", georgia, "time new roman", times, serif;
	color: #333;
}

.main .story{
	margin-top: 32px;
}

.story-header{
	position: relative;
}

.story-kicker{
	margin-bottom: 25px;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 700;
	font-family: "nyt-cheltenham-sh", georgia, "time new roman", times, serif;
	font-style: italic;
	margin-bottom: 10px;
}

.headline{
	font-size: 1.8rem;
	line-height: 2.34rem;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 10px;
}

.story-meta-footer{
	border-top: 1px solid #e2e2e2;
	padding: 5px 0 15px 0;
	color: #333;
}

.byline{
	float: left;
	margin: 4px 45px 0 0;
	font-size: 0.69rem;
	line-height: 0.75rem;
	font-weight: 700;
}

.dateline{
	margin-left: 12px;
	font-size: 0.69rem;
	line-height: 0.75rem;
	font-weight: 300;
	color: #000;
}

.leadimage{
	position: relative;
	max-width: 75%;
}

.caption{
	font-size: 0.875rem;
	line-height: 1.13rem;
	font-weight: 300;
	max-width: 615px;
	color: #666;
	margin-bottom: 45px;
}

.caption-credit{
	font-size: 0.69rem;
	line-height: 1rem;
	font-weight: 400;
}

.byline-sharetools-container{
	float: left;
	margin-bottom: 15px;
	width: 95px;
}

.sharetools-list{
	list-style: none;
}

.button .sharetools{
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	width: 90px;
	height: 50px;
}

.lead-container-comments{
	padding-top: 7px;
	width: 300px;
	float: right;
	clear: right;
	margin: 5px 0 45px 30px;
}

.story-body-text{
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 400;
	max-width: 540px;
	margin-bottom: 1em;
	margin-left: 135px;
	width: 510px;
	font-family: georgia, "times new roman", times, serif;
}

.theory-of-inflation{
	min-width: 720px;
	max-width: 945px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	margin: 15px;
	padding: 15px 0;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.TOI-headline{
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 700;
	color: #333
	margin-bottom: 3px;
}

.TOI-lead{
	font-size: 0.875rem;
	line-height: 1.125rem;
	font-weight: 400;
	color: #666;
	margin-bottom: 3px;
}

.TOI-graphic{
	color: #666;
	font-size: 0.75rem;
	line-height: 16px;
	font-weight: 400;
}

.g-type{
	width: 720px;
	height: auto;
}

.g-type-text{
	position: absolute;
	width: 173px;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #000000;
}

.g-type-text p span{
	font-size: 11px;
	font-weight: bold;
	letter-spacing: .05em;
}

.interactive-footer{
	font-size: 0.75rem;
	line-height: 0.875rem;
	font-weight: 300;
	color: #999;
}

.youtube{
	position: relative;
	width: 510px;
	margin: 45px 0 45px 135px;
}

.youtubecaption{
	font-size: 0.81rem
	line-height: 1.1rem;
	font-weight: 300;
	color: #666;
}

.youtube-caption-text{
	font-size: 0.81rem;
	line-height: 1.1rem;
	font-weight: 300;
	display: block;
}
.youtube-credit{
	font-size: 0.7rem;
	line-height: 1rem;
	font-weight: 400;
	display: inline-block;
	color: #999;
}

.photo{
	margin: 45px 0 45px 135px;
	width: 510px;
}

.photoimg{
	width: 510px;
}

.photo-caption{
	font-size: 0.8rem;
	line-height: 1.1rem;
	font-weight: 300;
	display: block;
}

.photo-credit{
	font-size: 0.69rem;
	line-height: 1rem;
	font-weight: 400;
	display: inline-block;
	color: #999;
}

.story-footer{
	position: relative;
	margin: 24px 0 45px 135px;
	width: 510px;
	font-size: 0.69rem;
	line-height: 0.94rem;
	font-weight: 300;
	color: #999;
}

.next-in{
	margin: 45px 0 62px 135px;
	width: 510px;
	padding-top: 11px;
	border-top: 1px dotted #e2e2e2
	clear: both;
	font-size: 0.6rem;
	line-height: 0.94rem;
	font-weight: 400;
	float: left;
}

.module-heading{
	font-size: 0.6rem;
	line-height: 0.94rem;
	font-weight: 400;
	float: left;
}

.next{
	float: right;
	width: 70%;
	text-align: right;
	line-height: 19px;
	font-weight: 400;
	margin-right: 15px;
	color: black;
}

.next a:link{
	text-decoration: none;
	color: black;
}

.next a:hover{
	text-decoration: underline;
}

.most-shared{
	border-top: 1px dotted #999;
	width: 300px;
	float: right;
	clear: right;
	margin: 5px 0 45px 30px;
	padding-top: 10px;
}

.shared-header{
	font-size: 0.69rem;
	line-height: 0.69rem;
	font-weight: 700;
	color: #000;
	margin-bottom: 1rem;
}

.shared-ol{
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.shared-li{
	border-top: none;
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-weight: 400;
	position: relative;
	text-align: right;
	padding: 15px 280px 12px 0;
	color: #000;
}
.shared-story{
	margin-left: 30px;
	position: relative;
	height: 100%;
}

.shared-thumb{
	float: right;
	width: 40px;
	margin: 3px 0;
	position: relative;
	max-width: 65px;
	height: auto;
	clear: none;
}

.shared-story-heading{
	float: none;
	clear: none;
	margin: 0;
	display: table;
	width: auto;
	padding-right: 10px;
	color: inherit;
	font-size: 0.8rem;
	line-height: 1.1rem;
	font-weight: 400;
}

.shared-story-link{
	font-size: 0.8rem;
	line-height: 1rem;
	font-weight: 400;
	position: absolute;
	width: 100%;
	height: 46px;
	left: 0;
	top: 0;
	text-align: left;
	color: #326891;
	cursor: pointer;
}

.shared-footer{
	font-size: 0.7rem;
	line-height: 0.9rem;
	font-weight: 400;
	color: black;
}

.shared-footer a:link{
	color: black;
	text-decoration: none;
}

.shared-footer a:hover{
	text-decoration: underline;
}